<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8" />
</head>
<body>
    <a href="/auth/sigup">Добавить пользователя</a>
    <h1>Добавление пользователя</h1>
     <form action="owners" method="POST">
        <label>Логин</label>
        <input name="logib"  min="1" max="12" /><br><br>
        <label>Пароль</label>
        <input name="pass" min="1" max="12" /><br><br>
        <label>ФИО</label>
        <input name="FCS" /><br><br>
        <label>Телефон</label>
        <input name="telephone" type="number"max="11" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
</body>
<html>